body {
    background-color: blanchedalmond;
}

.bloque {
    max-width: 300px;
    min-width: 300px;
    border-radius: 8px;
}

.limites {
    max-width: 300px;
    min-width: 100px;
}

.historia {
    width: 700px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

img {
    width: 300px;
    height: 300px;
}

.card-body {
    width: 300px;
    
}